<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Culture numérique</title>
	
	<!-- Favico --> 
	<link rel="icon" type="image/png" href="favicon.ico" />
	<!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="favicon.ico" /><![endif]-->
 
 	<!-- Fonte --> 
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jasny-bootstrap.min.css" rel="stylesheet" media="screen"> 	

	<!-- Onepage css -->
    <link href="css/modules.css" rel="stylesheet">
	
	<!-- Icones -->
    <link href="css/icons.css" rel="stylesheet">

	<!-- Google Font -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
  </head>
  <body>
  
<!------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------>
<!----------------------------------------- MENU TOP --------------------------------------------->
<!------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------>
   
   <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" id="menutop">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.htm"><img class="hidden-xs logo" class="logo" src="img/logo_plat_vert.svg" alt=""><img class="visible-xs logo" src="img/logo_cercle_vert.svg" alt=""></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="index.htm"><img src="img/home.svg" style="width:1.8em; height:1.8em; padding-right:0.5em; margin-top:-0.25em;">Présentation</a></li>
            <li><a href="index.htm#page6"><img src="img/contact.svg" style="width:2.5em; height:2.5em; padding-right:0.5em; margin-top:-0.60em; margin-bottom:-0.5em;">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="img/modules.svg" style="width:3.5em; height:3.5em; padding-right:0.5em; margin-top:-0.90em; margin-bottom:-1em;">Modules<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="btnmodules internet"><a href="internet.htm">Internet</a><p class="subbtnmodules">Internet, bien plus que le Web</p></li>
                <li class="btnmodules web"><a href="#">Le Web</a><p class="subbtnmodules">Première approche</p></li>
                <li class="btnmodules documents"><a href="#">Les Documents</a><p class="subbtnmodules">Représentation des données</p></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<!------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------>
<!------------------------- MENU GAUCHE VERSION CLASSIQUE ---------------------------------------->
<!------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------>
	
	
<div class="menugauche navmenu navmenu-default navmenu-fixed-left offcanvas-sm" role="navigation" id="menugauche">
  
  <h1 class="icon-web">Internet</h1><!-- Logo du module ici --> 
   
   <div class="panel-group" id="accordion">
	
		<!-- Copier ici un item déployable --> 
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">1 Informatique et numérique</a>
				</h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse">
				<ul class="list-group">
					<a href="#"><li class="list-group-item icon-course">Cours</li></a>
					<a href="#"><li class="list-group-item icon-quizz">Auto-évaluation</li></a>
					<a href="#"><li class="list-group-item icon-activity">Activité</li></a>
					<a href="#"><li class="list-group-item icon-book">Activité avancée</li></a>
				</ul>
			</div>
		</div> 
		<!-- Stop ici un item déployable -->	

		<!-- Copier ici un item déployable --> 
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">2 Historique informatique</a>
				</h4>
			</div>
			<div id="collapse2" class="panel-collapse collapse">
				<ul class="list-group">
					<a href="#"><li class="list-group-item icon-course">Cours</li></a>
					<a href="#"><li class="list-group-item icon-quizz">Auto-évaluation</li></a>
					<a href="#"><li class="list-group-item icon-activity">Activité</li></a>
					<a href="#"><li class="list-group-item icon-book">Activité avancée</li></a>
				</ul>
			</div>
		</div> 
		<!-- Stop ici un item déployable -->	
	
		<!-- Copier ici un item déployable --> 
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">3 Naissance d'internet</a>
				</h4>
			</div>
			<div id="collapse3" class="panel-collapse collapse">
				<ul class="list-group">
					<a href="#"><li class="list-group-item icon-course">Cours</li></a>
					<a href="#"><li class="list-group-item icon-quizz">Auto-évaluation</li></a>
					<a href="#"><li class="list-group-item icon-activity">Activité</li></a>
					<a href="#"><li class="list-group-item icon-book">Activité avancée</li></a>
				</ul>
			</div>
		</div> 
		<!-- Stop ici un item déployable -->
	
	    <!-- Copier ici un item déployable --> 
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">4 Comment ça marche?</a>
				</h4>
			</div>
			<div id="collapse4" class="panel-collapse collapse">
				<ul class="list-group">
					<a href="#"><li class="list-group-item icon-course">Cours</li></a>
					<a href="#"><li class="list-group-item icon-quizz">Auto-évaluation</li></a>
					<a href="#"><li class="list-group-item icon-activity">Activité</li></a>
					<a href="#"><li class="list-group-item icon-book">Activité avancée</li></a>
				</ul>
			</div>
		</div> 
		<!-- Stop ici un item déployable -->
	
		<!-- Copier ici un item déployable --> 
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">5 Que se passe-t-il quand on se connecte à internet?</a>
				</h4>
			</div>
			<div id="collapse5" class="panel-collapse collapse">
				<ul class="list-group">
					<a href="#"><li class="list-group-item icon-course">Cours</li></a>
					<a href="#"><li class="list-group-item icon-quizz">Auto-évaluation</li></a>
					<a href="#"><li class="list-group-item icon-activity">Activité</li></a>
					<a href="#"><li class="list-group-item icon-book">Activité avancée</li></a>
				</ul>
			</div>
		</div> 
		<!-- Stop ici un item déployable -->
	
		<!-- Copier ici un item déployable --> 
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse6">6 Les supports physiques de transmission de l'information</a>
				</h4>
			</div>
			<div id="collapse6" class="panel-collapse collapse">
				<ul class="list-group">
					<a href="#"><li class="list-group-item icon-course">Cours</li></a>
					<a href="#"><li class="list-group-item icon-quizz">Auto-évaluation</li></a>
					<a href="#"><li class="list-group-item icon-activity">Activité</li></a>
					<a href="#"><li class="list-group-item icon-book">Activité avancée</li></a>
				</ul>
			</div>
		</div> 
		<!-- Stop ici un item déployable -->
		
		<!-- Copier ici un item déployable --> 
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse7">7 Société: qui décide sur internet?</a>
				</h4>
			</div>
			<div id="collapse7" class="panel-collapse collapse">
				<ul class="list-group">
					<a href="#"><li class="list-group-item icon-course">Cours</li></a>
					<a href="#"><li class="list-group-item icon-quizz">Auto-évaluation</li></a>
					<a href="#"><li class="list-group-item icon-activity">Activité</li></a>
					<a href="#"><li class="list-group-item icon-book">Activité avancée</li></a>
				</ul>
			</div>		
		</div> 
		<!-- Stop ici un item déployable -->
    
	</div> 	
</div>

<!------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------>
<!------------------------- MENU GAUCHE VERSION REDUITE ------------------------------------------>
<!------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------>

<div class="menugauche navmenu-fixed-left navbar-offcanvas-toggle menugauchebtn collapsed hidden-md hidden-lg"  role="navigation" id="menugauche-sm2">
 
	 <span data-toggle="collapse" data-target="#menugauche-sm2"><button type="button" class="navmenu-fixed-left navbar-offcanvas-toggle collapsed hidden-md hidden-lg" data-toggle="offcanvas" data-target="#menugauche" data-canvas="body" id="menugauche-sm"><span class="icon-chevron-right"> </span></button></span>
  
  <h1 class="icon-web"> </h1>
   
   <div class="panel-group" id="accordion">
	
		<!-- Copier ici un item déployable --> 
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<span data-toggle="tooltip" data-placement="right" data-container="body" title="Informatique et numérique">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse1" >1</a>
				</span>
				</h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse">
				<ul class="list-group">
					<a href="#"><li class="list-group-item icon-course"> </li></a>
					<a href="#"><li class="list-group-item icon-quizz"> </li></a>
					<a href="#"><li class="list-group-item icon-activity"> </li></a>
					<a href="#"><li class="list-group-item icon-book"> </li></a>
				</ul>
			</div>
		</div> 
		<!-- Stop ici un item déployable -->	

		<!-- Copier ici un item déployable --> 
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<span data-toggle="tooltip" data-placement="right" data-container="body" title="Historique informatique">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">2</a>
				</span>
				</h4>
			</div>
			<div id="collapse2" class="panel-collapse collapse">
				<ul class="list-group">
					<a href="#"><li class="list-group-item icon-course"> </li></a>
					<a href="#"><li class="list-group-item icon-quizz"> </li></a>
					<a href="#"><li class="list-group-item icon-activity"> </li></a>
					<a href="#"><li class="list-group-item icon-book"> </li></a>
				</ul>
			</div>
		</div> 
		<!-- Stop ici un item déployable -->	
	
		<!-- Copier ici un item déployable --> 
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<span data-toggle="tooltip" data-placement="right" data-container="body" title="Naissance d'internet">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">3</a>
				</span>
				</h4>
			</div>
			<div id="collapse3" class="panel-collapse collapse">
				<ul class="list-group">
					<a href="#"><li class="list-group-item icon-course"> </li></a>
					<a href="#"><li class="list-group-item icon-quizz"> </li></a>
					<a href="#"><li class="list-group-item icon-activity"> </li></a>
					<a href="#"><li class="list-group-item icon-book"> </li></a>
				</ul>
			</div>
		</div> 
		<!-- Stop ici un item déployable -->
	
	    <!-- Copier ici un item déployable --> 
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<span data-toggle="tooltip" data-placement="right" data-container="body" title="Comment ça marche?">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">4</a>
				</span>
				</h4>
			</div>
			<div id="collapse4" class="panel-collapse collapse">
				<ul class="list-group">
					<a href="#"><li class="list-group-item icon-course"> </li></a>
					<a href="#"><li class="list-group-item icon-quizz"> </li></a>
					<a href="#"><li class="list-group-item icon-activity"> </li></a>
					<a href="#"><li class="list-group-item icon-book"> </li></a>
				</ul>
			</div>
		</div> 
		<!-- Stop ici un item déployable -->
	
		<!-- Copier ici un item déployable --> 
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<span data-toggle="tooltip" data-placement="right" data-container="body" title="Que se passe-t-il quand on se connecte à internet?">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">5</a>
				</span>
				</h4>
			</div>
			<div id="collapse5" class="panel-collapse collapse">
				<ul class="list-group">
					<a href="#"><li class="list-group-item icon-course"> </li></a>
					<a href="#"><li class="list-group-item icon-quizz"> </li></a>
					<a href="#"><li class="list-group-item icon-activity"> </li></a>
					<a href="#"><li class="list-group-item icon-book"> </li></a>
				</ul>
			</div>
		</div> 
		<!-- Stop ici un item déployable -->
	
		<!-- Copier ici un item déployable --> 
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<span data-toggle="tooltip" data-placement="right" data-container="body" title="Les supports physiques de transmission de l'information">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse6">6</a>
				</span>
				</h4>
			</div>
			<div id="collapse6" class="panel-collapse collapse">
				<ul class="list-group">
					<a href="#"><li class="list-group-item icon-course"> </li></a>
					<a href="#"><li class="list-group-item icon-quizz"> </li></a>
					<a href="#"><li class="list-group-item icon-activity"> </li></a>
					<a href="#"><li class="list-group-item icon-book"> </li></a>
				</ul>
			</div>
		</div> 
		<!-- Stop ici un item déployable -->
		
		<!-- Copier ici un item déployable --> 
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<span data-toggle="tooltip" data-placement="right" data-container="body" title="Société: qui décide sur internet?">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse7">7</a>
				</span>
				</h4>
			</div>
			<div id="collapse7" class="panel-collapse collapse">
				<ul class="list-group">
					<a href="#"><li class="list-group-item icon-course"> </li></a>
					<a href="#"><li class="list-group-item icon-quizz"> </li></a>
					<a href="#"><li class="list-group-item icon-activity"> </li></a>
					<a href="#"><li class="list-group-item icon-book"> </li></a>
				</ul>
			</div>		
		</div> 
		<!-- Stop ici un item déployable -->
    
	</div> 	

</div>

<!------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------>
<!--------------------- BOUTON POUR DEPLIER MENU GAUCHE EN PETIT --------------------------------->
<!------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------>


<button type="button" class="navmenu-fixed-left navmenu-fixed-left navbar-offcanvas-toggle menugauchebtn collapsed hidden-md hidden-lg" data-toggle="offcanvas" data-target="#menugauche" data-canvas="body" id="menugauche-sm">
	<span class="icon-chevron-right"> </span>
</button>

<!------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------>
<!--------------------------------------- CONTENU COURS ------------------------------------------>
<!------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------>
  
<div id="content"><!-- Pour margin top 4 em -->

	<!-- Fil d'ariane --> 

		<ol class="breadcrumb">
			<li><a href="#"><span class="icon-home"></span></a></li>
			<li><a href="#">Internet</a></li>
			<li class="active">Cours</li>
		</ol>

	<!-- Contenu sous fil d'ariane/cours -->		

	<div class="contenudroite">

	<!-- Contenu vidéo -->
	
			<h2 class="icon-course title">1.1 Titre d'un cours</h2>
			Blablabla.<br>

			<iframe height="315" frameborder="1" width="560" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="https://player.vimeo.com/video/122104210"></iframe>

	<!-- Contenu Quizz -->			
			
			<h2 class="icon-quizz title">1.2 Titre d'une auto-évaluation </h2>

			<h3>Pourquoi représenter avec des nombres?</h3>
			Pourquoi faut-il représenter les textes, images, son, etc, par des nombres dans un ordinateur ?<br>
			<br>
			Liste à puuuuuuces.
			<div class="radio">
				<label><input type="radio" name="optradio">Puce.</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="optradio">Pupuce.</label>
			</div>
			<div class="radio disabled">
				<label><input type="radio" name="optradio" disabled>Pupupuce qui marche pas.</label>
			</div>
			<br>
			Liste à cooooooches.
			<div class="checkbox">
				<label><input type="checkbox" value="">Coche.</label>
			</div>
			<div class="checkbox">
				<label><input type="checkbox" value="">Cocoche.</label>
			</div>
			<div class="checkbox disabled">
				<label><input type="checkbox" value="" disabled>Cococoche qui marche pas.</label>
			</div>
			<hr>

	<!-- Contenu activités diverses -->
			
			<h3>Pourquoi représenter avec des nombres?</h3>
			Pourquoi faut-il représenter les textes, images, son, etc, par des nombres dans un ordinateur ?

			<h2 class="icon-activity title">1.3 Titre d'une activité</h2>
			Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. 

			<h2 class="icon-register title">1.4 Titre d'une activité avancée</h2>
			En se réveillant un matin après des rêves agités, Gregor Samsa se retrouva, dans son lit, métamorphosé en un monstrueux insecte. Il était sur le dos, un dos aussi dur qu’une carapace, et, en relevant un peu la tête, il vit, bombé, brun, cloisonné par des arceaux plus rigides, son abdomen sur le haut duquel la couverture, prête à glisser tout à fait, ne tenait plus qu’à peine.

	</div>	<!-- Fin contenu sous fil d'ariane/cours -->
	
</div>	<!--Content -->

   <!-- Début footer --> 
 
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	<script src="js/jasny-bootstrap.min.js"></script>
    <!-- Tooltip script -->
	<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
	</script>
  </body>
</html>