Django
django_extensions
lxml
yattag
python-slugify
markdown
MarkdownSuperscript
flask
requests
beautifulsoup4
# used only to generate doc with Sphinx+recommonmark
Sphinx
sphinx-rtd-theme
recommonmark
