<!-- Menu gauche -->
<div class="menugauche navmenu navmenu-default navmenu-fixed-left offcanvas-sm" role="navigation" id="menugauche">
    <h1 class="icon-web">{{ module.menutitle }}</h1>

    <ul class="nav panel-group" id="accordion">
        {% for section in module.sections %}
        <!-- Copier ici un item déployable -->
        <li class="panel panel-default">
            <h4 class="panel-title">
                <a href="#sec_{{section.num|replace('-','_')}}">
                    <span class="sec-num">{{ section.num }}</span>
                    <span class="sec-title">{{ section.title }}</span>
                </a>
            </h4>
            <ul class="nav list-group">
                {% for subsection in section.subsections %}
                    <li class="list-group-item">
                        <a class="icon-{{ subsection.folder|lower  }}" href="#subsec_{{ subsection.num|replace('-','_') }}">{{ subsection.num|replace('-', '.')}} {{ subsection.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
        <!-- Stop ici un item déployable -->
        <!-- Link to Annexe  -->
        <div class="annex-sep"></div>
        <li class="panel panel-default">
            <h4 class="panel-title">
                <a href="#sec_A">
                    <span class="sec-num icon-cc"></span>
                    <span class="sec-title">Réutiliser ce module</span>
                </a>
            </h4>
            <ul class="nav list-group">
                <li class="list-group-item" style="display:none">
                    <a class="icon" href="#subsec_A1"></a>
                </li>
            </ul>
        </li>
    </ul>
    <!--  bouton chevron "gauche" pour replier menu gauche-->
    <button type="button" class="navmenu-fixed-left navmenu-fixed-left navbar-offcanvas-toggle menugauchebtn collapsed hidden-md hidden-lg" data-toggle="offcanvas"  data-canvas="div.content" data-target="#menugauche"  id="menugauche-sm-left">
    	<span class="icon-chevron-left"> </span>
    </button>
</div>
<!-- Fin menu gauche classique -->

<div id="content">
    <!--  bouton chevron "droit" pour déplier menu gauche-->
    <button type="button" class="navmenu-fixed-left navmenu-fixed-left navbar-offcanvas-toggle menugauchebtn collapsed hidden-md hidden-lg" data-toggle="offcanvas"  data-canvas="div.content" data-target="#menugauche"  id="menugauche-sm">
	       <span class="icon-chevron-right"> </span>
    </button>
    <!-- Margin top 4 em -->
    <!-- Début contenu droite -->
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <span class="icon-home"></span>
            </a>
        </li>
        <li><a href="#">{{module.menutitle}}</a></li>
        <li class="active">Cours</li>
    </ol>

    <div class="contenudroite">
        {% for section in module.sections %}
            {% if loop.first %}{% set firstsec = false %}{% else %}{% set firstsec = false %}{% endif%}
            <section  id="sec_{{ section.num|replace('-','_') }}">
            <h1 class="icon-section title blue">{{ section.num|replace('-','.') }}. {{ section.title }}</h1>
                {% for sub in section.subsections %}
                    <section id="subsec_{{ sub.num|replace('-','_') }}">
                        <h2 class="icon-{{sub.folder|lower}} title">{{ sub.num|replace('-','.') }}. {{ sub.title }}</h2>
                        {% if sub.videos|length > 0  %}
                            {% for video in sub.videos %}
                            <!--  TODO : check video here and add fancy text -->

                                <div class="iframe_cont">
                                    {% if not firstsec %}{% include 'player_button.html'%}{%endif%}
                                    <iframe allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" {% if not firstsec %}data-{%endif%}src="{{video.video_src_link}}"
                                        {%if not firstsec%}style="display:none"{%endif%}></iframe></div>
                            {% endfor %}
                        {% endif %}
                        {% set text = sub.html_src|safe %}
                        {% if sub.folder == 'webcontent' %}
                        <!-- teaser: first 5 lines -->
    					<div class="collapse hidden-text">
                            <span data-toggle="collapse" data-target="#subsec_{{ sub.num|replace('-','_') }} .hidden-text" class="icon-minus-circled teaser-button"><i>(Réduire le cours)</i></span>
                            {{ text }}
                            <span data-toggle="collapse" data-target="#subsec_{{ sub.num|replace('-','_') }} .hidden-text" class="icon-minus-circled teaser-button"><i>(Réduire le cours)</i></span>
    					</div>
                                <!-- {{ text|truncate(length=700, killwords=False, end='...')|replace('<div>', '')|replace('</div>', '')}} -->
                        <div class="teaser" data-toggle="collapse" data-target="#subsec_{{ sub.num|replace('-','_') }} .hidden-text">
                            <span  class="icon-plus-circled teaser-button"><i>(Montrer la suite)</i></span>
                            <div class="tease"></div>
                            {{ text }}
                        </div>
                        <!-- rest with a collapse -->
                        {% else %}
                            {{ text }}
                        {% endif %}
                </section>
            {% endfor %}
        </section>
        {% endfor %}
        <!-- download section here -->
        <section  id="sec_A">
            <h1 class="icon-section title blue">Annexe : réutiliser ce module</h1>
            {% if module.ims_archive_path %}
              <section id="subsec_A1">
                  <p>
                      Archive IMS CC utilisable dans les LMS Moodle, Claroline, Blackboard, etc: <a href="{{module.module}}/{{module.ims_archive_path}}">{{module.ims_archive_path}}</a>
                  </p>

              </section>
            {%endif%}
            {% if module.edx_archive_path %}
              <section id="subsec_A1">
                  <p>
                      Archive EDX : <a href="{{module.module}}/{{module.edx_archive_path}}">{{module.edx_archive_path}}</a>
                  </p>

              </section>
            {%endif%}
        </section>

    </div>
    <!-- Fin contenu droite -->

</div>
<!--Content -->
