<!-- Menu gauche -->
<div class="menugauche navmenu navmenu-default navmenu-fixed-left offcanvas-sm" role="navigation" id="menugauche">
    <h1 class="icon-web">{{ module.menutitle }}</h1>
    <div class="panel-group" id="accordion">
        <!-- Copier ici un item déployable -->
        {% for section in module.sections %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{section.num|replace('-','_')}}">{{ section.num }} {{ section.title }}</a>
                </h4>
            </div>
            <div id="collapse{{section.num|replace('-','_')}}" class="panel-collapse collapse">
                <ul class="list-group">
                    {% for subsection in section.subsections %}
                    <a href="#">
                        <li class="list-group-item icon-{{ subsection.folder|lower  }}">{{ subsection.title }}</li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
        <!-- Stop ici un item déployable -->
    </div>
</div>
<!-- Fin menu gauche -->


<div id="content">
    <!-- Margin top 4 em -->
    <!-- Début contenu droite -->
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <span class="icon-home"></span>
            </a>
        </li>
        <li><a href="#">{{module.menutitle}}</a></li>
        <li class="active">Cours</li>
        <!-- FIXME : set dynamically  -->
    </ol>

    <div class="contenudroite">
        <!-- OK, garder -->
        <button type="button" class="navmenu-fixed-left navmenu-fixed-left navbar-offcanvas-toggle menugauchebtn collapsed hidden-md hidden-lg" data-toggle="offcanvas" data-target="#menugauche" data-canvas="body">
            <span class="icon-chevron-right"> </span>
        </button>
        
        {% for section in module.sections %}
        <h1 class="icon-section title">{{ section.title }}</h1>
        <br>
            {% for subsection in section.subsections %}
            
            <h2 class="icon-{{subsection.folder|lower}} title">{{ subsection.title }}</h2>
            <br>
            
            <!--  subsection content -->
            
            <!-- <iframe height="315" frameborder="1" width="560" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="https://player.vimeo.com/video/122104210"></iframe> -->
            {% endfor %}
        {% endfor %}
    </div>
    <!-- Fin contenu droite -->

</div>
<!--Content -->
