<!-- Menu gauche -->
<div class="menugauche navmenu navmenu-default navmenu-fixed-left offcanvas-sm" role="navigation" id="menugauche">
    <h1 class="icon-web">{{ module.menutitle }}</h1>

    <ul class="nav panel-group" id="accordion">
        {% for section in module.sections %}
        <!-- Copier ici un item déployable -->
        <li class="panel panel-default">
            <h4 class="panel-title">
                <a href="#sec_{{section.num|replace('-','_')}}">{{ section.num }} {{ section.title }}</a>
            </h4>
            <ul class="nav list-group">
                {% for subsection in section.subsections %}
                    <li class="list-group-item">
                        <a class="icon-{{ subsection.folder|lower  }}" href="#subsec_{{ subsection.num|replace('-','_') }}">{{ subsection.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
        <!-- Stop ici un item déployable -->
    </ul>
</div>
<!-- Fin menu gauche -->

<!-- TODO : ajouter menu gauche version reduite  --> 

<button type="button" class="navmenu-fixed-left navmenu-fixed-left navbar-offcanvas-toggle menugauchebtn collapsed hidden-md hidden-lg" data-toggle="offcanvas" data-target="#menugauche" data-canvas="body" id="menugauche-sm">
	<span class="icon-chevron-right"> </span>
</button>


<div id="content">
    <!-- Margin top 4 em -->
    <!-- Début contenu droite -->
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <span class="icon-home"></span>
            </a>
        </li>
        <li><a href="#">{{module.menutitle}}</a></li>
        <li class="active">Cours</li>
        <!-- FIXME : set dynamically  -->
    </ol>

    <div class="contenudroite">
        <!-- OK, garder -->
        <button type="button" class="navmenu-fixed-left navmenu-fixed-left navbar-offcanvas-toggle menugauchebtn collapsed hidden-md hidden-lg" data-toggle="offcanvas" data-target="#menugauche" data-canvas="body">
            <span class="icon-chevron-right"> </span>
        </button>
        
        {% for section in module.sections %}
            {% if loop.first %}{% set firstsec = true %}{% else %}{% set firstsec = false %}{% endif%}
            <section  id="sec_{{ section.num|replace('-','_') }}">
            <h1 class="icon-section title blue">{{ section.num|replace('-','.') }}. {{ section.title }}</h1>
                {% for sub in section.subsections %}
                    <section id="subsec_{{ sub.num|replace('-','_') }}">
                        <h2 class="icon-{{sub.folder|lower}} title">{{ sub.num|replace('-','.') }}. {{ sub.title }}</h2>
                        {% if sub.videos|length > 0  %}
                            {% for video in sub.videos %}
                        <!--  TODO : check video here and add fancy text -->
                                
                                <div class="iframe_cont">
                                    {% if not firstsec %}{% include 'player_button.html'%}{%endif%}
                                    <iframe allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" {% if not firstsec %}data-{%endif%}src="{{video.video_link}}" 
                                        {%if not firstsec%}style="display:none"{%endif%}></iframe></div>
                            {% endfor %}
                        {% endif %}
                        {{ sub.html_src|safe }}
                </section>
            {% endfor %}
        </section>
        {% endfor %}
        <!--  TODO add download section here -->
    
    </div>
    <!-- Fin contenu droite -->

</div>
<!--Content -->
